<!doctype html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Moore Communications Group</title>
	<meta name="keywords" content="moore communications group, moore consulting group, tallahassee ad agency, tallahassee marketing, florida healthcare ad agency, public relations, marketing, advertising, social media, web design" />
	<meta name="description" content="We shape opinions, we shift behaviors, we incite action. Our integrated communications firm combines strategic counsel with excellence in client servicing to produce groundbreaking results that earn us national recognition. Through innovative thinking, we connect questions with answers, challenges with solutions, and ideas with strategy - helping power you to a new level of business success." />
	<meta name="msvalidate.01" content="062B382EC8DDAA980444384BD290A164" />
	<meta name="google-site-verification" content="CgCqVt8Sn5PB7dMUoWCkOMDVkRcTg7T5C1228IiJalo" />
		
	<!-- Mobile viewport -->
	<meta name="viewport" content="width=995">
	
	<!-- favicons & icons -->
	<link rel="shortcut icon" href="http://www.moorecommgroup.com/favicon.ico" />
	
	<!-- loading stylesheets -->
	<link rel="stylesheet" href="http://www.moorecommgroup.com/embeds/styles" />
	<!-- <link rel="stylesheet" href="http://www.moorecommgroup.com/embeds/override" /> -->
	
	<!-- typekit or google web font scripts -->
	<link rel="stylesheet" href="http://www.moorecommgroup.com/_ui/font/asap/stylesheet.css" />
		
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="http://www.moorecommgroup.com/embeds/ie.css" />
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
